<!DOCTYPE html>
<html lang="en">
<head>
    <title>swapi grow</title>
</head>
    <body>
        <h1><%= name %></h1>
        <p>Height: <b><%= height %></b></p>
        <p>Eye Color: <b><%= eye_color %></b></p>
        <p>Hair Color: <b><%= hair_color %></b></p>
        <p>Birth Year: <b><%= birth_year %></b></p>
        <p>Gender: <b><%= gender %></b></p>
        <p>Homeworld: <a href="<%= homeworld %>"><%= homeworld %></a></p>
    </body>
</html>
